# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.y text eol=lf

*.result diff

br/pkg/mock/backend.go linguist-generated=true
br/pkg/mock/common.go linguist-generated=true
br/pkg/mock/encode.go linguist-generated=true
br/pkg/mock/importer.go linguist-generated=true
br/pkg/mock/mocklocal/local.go linguist-generated=true
br/pkg/mock/task_register.go linguist-generated=true
lightning/pkg/importinto/mock/import_mock.go linguist-generated=true
lightning/pkg/web/res_vfsdata.go linguist-generated=true
pkg/ddl/mock/schema_loader_mock.go linguist-generated=true
pkg/ddl/mock/systable_manager_mock.go linguist-generated=true
pkg/dxf/framework/mock/execute/execute_mock.go linguist-generated=true
pkg/dxf/framework/mock/plan_mock.go linguist-generated=true
pkg/dxf/framework/mock/scheduler_mock.go linguist-generated=true
pkg/dxf/framework/mock/storage_manager_mock.go linguist-generated=true
pkg/dxf/framework/mock/task_executor_mock.go linguist-generated=true
pkg/dxf/framework/scheduler/mock/scheduler_mock.go linguist-generated=true
pkg/dxf/importinto/mock/import_mock.go linguist-generated=true
pkg/expression/builtin_compare_vec_generated.go linguist-generated=true
pkg/expression/builtin_compare_vec_generated_test.go linguist-generated=true
pkg/expression/builtin_control_vec_generated.go linguist-generated=true
pkg/expression/builtin_control_vec_generated_test.go linguist-generated=true
pkg/expression/builtin_other_vec_generated.go linguist-generated=true
pkg/expression/builtin_other_vec_generated_test.go linguist-generated=true
pkg/expression/builtin_string_vec_generated.go linguist-generated=true
pkg/expression/builtin_string_vec_generated_test.go linguist-generated=true
pkg/expression/builtin_threadsafe_generated.go linguist-generated=true
pkg/expression/builtin_threadunsafe_generated.go linguist-generated=true
pkg/expression/builtin_time_vec_generated.go linguist-generated=true
pkg/expression/builtin_time_vec_generated_test.go linguist-generated=true
pkg/expression/builtin_vec_vec.go linguist-generated=true
pkg/expression/generator/builtin_threadsafe.go linguist-generated=true
pkg/expression/generator/compare_vec.go linguist-generated=true
pkg/expression/generator/control_vec.go linguist-generated=true
pkg/expression/generator/other_vec.go linguist-generated=true
pkg/expression/generator/string_vec.go linguist-generated=true
pkg/expression/generator/time_vec.go linguist-generated=true
pkg/importsdk/mock/sdk_mock.go linguist-generated=true
pkg/ingestor/ingestcli/mock/client_mock.go linguist-generated=true
pkg/lightning/checkpoints/checkpointspb/file_checkpoints.pb.go linguist-generated=true
pkg/lightning/mydump/parser_generated.go linguist-generated=true
pkg/objstore/mockobjstore/objstore_mock.go linguist-generated=true
pkg/objstore/ossstore/mock/api_mock.go linguist-generated=true
pkg/objstore/ossstore/mock/provider_mock.go linguist-generated=true
pkg/objstore/s3like/mock/client_mock.go linguist-generated=true
pkg/objstore/s3store/mock/s3api_mock.go linguist-generated=true
pkg/parser/hintparser.go linguist-generated=true
pkg/parser/keywords.go linguist-generated=true
pkg/parser/parser.go linguist-generated=true
pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go linguist-generated=true
pkg/planner/core/generator/plan_cache/plan_clone_generator.go linguist-generated=true
pkg/planner/core/generator/shallow_ref/shallow_ref_generator.go linguist-generated=true
pkg/planner/core/operator/logicalop/hash64_equals_generated.go linguist-generated=true
pkg/planner/core/operator/logicalop/shallow_ref_generated.go linguist-generated=true
pkg/planner/core/operator/physicalop/plan_clone_generated.go linguist-generated=true
pkg/util/collate/ucadata/generator/data.go.tpl linguist-generated=true
pkg/util/collate/ucadata/unicode_0900_ai_ci_data_generated.go linguist-generated=true
pkg/util/collate/ucadata/unicode_ci_data_generated.go linguist-generated=true
pkg/util/collate/ucaimpl/unicode_ci.go.tpl linguist-generated=true
pkg/util/collate/unicode_0400_ci_generated.go linguist-generated=true
pkg/util/collate/unicode_0900_ai_ci_generated.go linguist-generated=true
pkg/util/sqlexec/mock/restricted_sql_executor_mock.go linguist-generated=true
